# My alias
alias tmux='tmux -u'
alias vim=nvim
alias nnn='nnn -Rd'
alias cd2='cd ../../'
alias cd3='cd ../../../'
alias cd4='cd ../../../../'
alias cd5='cd ../../../../../'

# First, Install gitui
# https://github.com/extrawurst/gitui
alias gu='gitui'

# First, Install lazydocker
# https://github.com/jesseduffield/lazydocker
alias lzd='lazydocker'

# Install rainbows stream
alias tw='rainbowstream'

# Clipboards
alias cs="xclip -selection clipboard" # copy to system wide clipboard (register +)
alias vs="xclip -o -selection clipboard" # paste from system wide clipboard (equivalent to `v -selection clipboard`)

# For Ubuntu 
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'

#Youtube alias
# We need to install yt-dlp binary to our machine
# Link: https://write.corbpie.com/downloading-youtube-videos-and-playlists-with-yt-dlp/ 
# Single Video
alias yt-dl-b="yt-dlp -f 'bestvideo[ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best'"

# Complete Channel Download
alias yt-dl-ch="yt-dlp -f 'bv*[height<=1080]+ba' --download-archive videos.txt -o '%(channel)s/%(title)s.%(ext)s'"

# Playlist Download
alias yt-dl-pl="yt-dlp -f 'bv*[height<=1080]+ba' --download-archive videos.txt -o '%(channel)s/%(playlist)s/%(title)s.%(ext)s'"

export PATH=$PATH:/usr/local/go/bin:/home/om/.cargo/bin:/home/om/go/bin
export EDITOR="/usr/local/bin/nvim"

# Disabled for Mac
# alias ls='ls --hyperlink=auto --color=auto'
alias ls='ls --color=auto'

# General TaskWarrior commands
alias t='task'
alias to='task overdue'
alias tn='task next +READY'
alias tnu="task next urgency \> ${urgencyPrio}"
alias ta='task add'
alias td='task done'
alias tp='task projects'
alias tt='task tags'
alias tdel='task delete'
alias tan='task annotate'
alias tl='task log'
alias tac='task active'
